<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>商品名</th>
        <th>型番</th>
        <th>ショップ在庫</th>
        <th>最低ロット</th>
        <th>最低在庫</th>
        <th>発注単位</th>
        <th>上代</th>
        <th>下代</th>
        <th>再入荷メール</th>
        <th>月間受注数</th>
        <th>週間受注数</th>
        <th>月間受注額</th>
        <th>累積構成比</th>
        <th>ランク</th>
        <th>注残数</th>
        <th>発注数</th>
        <th>発注額</th>
      </tr>
    </thead>
    <tbody>
      <tr class="clickable-row">
        <td nowrap="nowrap">232</td>
        <td>yes スクエア サコッシュバッグ  / M size / black</td>
        <td nowrap="nowrap">990-51773009-X</td>
        <td nowrap="nowrap">0</td>
        <td nowrap="nowrap">1</td>
        <td nowrap="nowrap">30</td>
        <td nowrap="nowrap">50</td>
        <td nowrap="nowrap">0円</td>
        <td nowrap="nowrap">0円</td>
        <td nowrap="nowrap">0</td>
        <td nowrap="nowrap">0</td>
        <td nowrap="nowrap">0</td>
        <td nowrap="nowrap">0円</td>
        <td nowrap="nowrap">99.31</td>
        <td>C</td>
        <td nowrap="nowrap">
          0
        </td>
        <td nowrap="nowrap">50</td>
        <td nowrap="nowrap">0円</td>
      </tr>
    </tbody>
  </table>
</div>
