<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>商品名</th>
        <th>型番</th>
        <th>ショップ在庫</th>
        <th>最低ロット</th>
        <th>最低在庫</th>
        <th>発注単位</th>
        <th>上代</th>
        <th>下代</th>
        <th>再入荷メール</th>
        <th>月間受注数</th>
        <th>週間受注数</th>
        <th>月間受注額</th>
        <th>累積構成比</th>
        <th>ランク</th>
        <th>注残合計</th>
        <th>発注数</th>
        <th>発注額</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list; let isLast=last"
          [ngClass]="{'last-row': isLast}">
        <td>{{ item.id }}</td>
        <td>{{ item.product.product_name }}</td>
        <td>{{ item.product.model_number }}</td>
        <td>{{ item.product.public_stock }}</td>
        <td>{{ item.product.min_lot }}</td>
        <td>{{ item.product.min_stock }}</td>
        <td>{{ item.product.order_unit | number }}</td>
        <td>{{ item.price | number }}円</td>
        <td>{{ item.cost | number }}円</td>
        <td>{{ item.stock_mail_count | number }}</td>
        <td>{{ item.monthly_order_count | number }}</td>
        <td>{{ item.weekly_order_count | number }}</td>
        <td>{{ item.monthly_order_amount | number }}円</td>
        <td>{{ item.accumulated_sales_composition | number }}</td>
        <td>{{ item.sales_rank }}</td>
        <td>0</td>
        <td>{{ item.purchase_order_count | number }}</td>
        <td>{{ item.subtotal | number }}円</td>
      </tr>
    </tbody>
  </table>
</div>
