<md-toolbar>
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <span class="spacer"></span>
  <img src="assets/logo.svg">
  <span class="spacer"></span>
  <img class="avatar" src="https://s3-ap-northeast-1.amazonaws.com/kurashicom-images/shop/2016-09-22/c79294ba1cf2f10ec43b429936e011e5.png" alt="avatar">
</md-toolbar>
<md-sidenav-container class="example-container">
  <md-sidenav mode="side" opened="true" #sidenav class="example-sidenav">
    sidenav
  </md-sidenav>
  <div class="example-sidenav-content">
    content
  </div>
</md-sidenav-container>
