@import "../_variables.scss";

.spacer {
  flex: 1 1 auto;
}

.avatar {
  height: 70%;
  border-radius: 50%;
}

md-sidenav {
  min-width: 150px;
  background: $sidebar-bg;
  color: $white;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.content {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 15px 30px;
}
